* {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
  background-color: #373a3d;
  font: 15px/1.3 Arial, sans-serif;
}

a, a:visited  {
  outline:none;
  color: #389dc1;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  margin-left: 7px;
  width: 90px;
}

a:hover {
  color: #FFFFFF;
}

#welcome {
  background-image: -webkit-linear-gradient(top, #373a3d, #313437);
  background-image: -moz-linear-gradient(top, #373a3d, #313437);
  background-image: linear-gradient(top, #373a3d, #313437);
  width: 300px;
  padding: 30px;
  border-radius: 3px;
  margin: 200px auto 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#welcome img {
  height: 300px;
}

.image {
  width: 210px;
  height: 210px;
  padding: 10px 5px;
  float: left;
}

.image img:hover {
  border: 5px solid #389dc1;
}

#e404 {
  font-family: "Helvetica Neue";
  font-size: 404px;
  color: #389dc1;
  margin: auto 60%;
}

#knob {
  display: none;
}

#link {
  width: 300px;
  font-size: 20px;
}

#link::selection {
  background: #85BF25;
}

#link:focus {
  border: 2px solid #389dc1;
}

#drop {
  background-color: #2E3134;
  padding: 40px 50px;
  margin-bottom: 30px;
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  border-image: url('../img/border-image.png') 25 repeat;
  text-align: center;
  text-transform: uppercase;

  font-size: 16px;
  font-weight: bold;
  color: #7f858a;
}

#drop input {
  display: none;
}

#drop img {
  cursor: pointer;
}

#upload {
  background-image: -webkit-linear-gradient(top, #373a3d, #313437);
  background-image: -moz-linear-gradient(top, #373a3d, #313437);
  background-image: linear-gradient(top, #373a3d, #313437);
  width: 500px;
  padding: 30px;
  border-radius: 3px;
  margin: 200px auto 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#upload ul {
  list-style: none;
  margin: 0 -30px;
  border-top: 1px solid #2b2e31;
  border-bottom: 1px solid #3d4043;
  display: none;
}

#upload ul li {
  background-color: #333639;
  background-image: -webkit-linear-gradient(top, #333639, #303335);
  background-image: -moz-linear-gradient(top, #333639, #303335);
  background-image: linear-gradient(top, #333639, #303335);
  border-top: 1px solid #3d4043;
  border-bottom: 1px solid #2b2e31;
  padding: 15px;
  height: 52px;
  position: relative;
}

#upload ul li p {
  width: 144px;
  overflow: hidden;
  white-space: nowrap;
  color: #EEE;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 100px;
}

#upload ul li i {
  font-weight: normal;
  font-style: normal;
  color: #7f7f7f;
  display: block;
}

#upload ul li canvas {
  top: 15px;
  left: 32px;
  position: absolute;
}

#upload ul li span {
  width: 15px;
  height: 12px;
  background: url('../img/icons.png') no-repeat;
  position: absolute;
  top: 34px;
  right: 33px;
  cursor:pointer;
}

#upload ul li.working span {
  height: 16px;
  background-position: 0 -12px;
}

#upload ul li.error p {
  color: red;
}